@page "/"

<PageTitle>Elden Site</PageTitle>

<h1>Welcome Tarnished to my Elden Site...</h1> 

<p>Step into the Lands Between, where warriors rise !</p>

<!-- Add the image -->
<img src="images/eldenring.png" alt="Elden Ring" class="homepage-image" />
